<!-- Page Content -->
<div class="container">
   <div class="alert alert-danger" role="alert" *ngIf="errorAlert">
      <a href="#" style=" text-decoration: none; float: right; font-size: 21px; font-weight: 700; line-height: 1; 
         color: #000; text-shadow: 0 1px 0 rgb(190, 63, 63); filter: alpha(opacity=20); 
         opacity: .2;" data-dismiss="alert" aria-label="close" (click)="switchOffAlerts()"  >&times;</a>
      <span *ngIf="serverError"> Unable to contact server </span>
      <span *ngIf="credentialsError"> Wrong Credentials </span>
   </div>

    <div class="row">
       <div class="col-lg-12 text-center" style="padding-top: 20px;">
          <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
             <div class="row">
                <div class="col-12" style="text-align: center;">
                    <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit(formGroup.value)" class="form-signin">
                        <h2 class="form-signin-heading">Please sign in</h2>

                        <div>
                           <label for="inputEmail" class="sr-only">Login : </label>
                           <input type="text" id="username" class="form-control" 
                              formControlName="username" placeholder="Username" required autofocus>
                        </div>

                        <div>
                           <label for="inputPassword" class="sr-only">Password : </label>
                           <input type="password" id="inputPassword" class="form-control" 
                              formControlName="password" placeholder="Password" required>
                        </div>
                               
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>