<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="subscriptions">
    <div class="panel-default well" th:each="bid : ${bids}">
        <div class="panel-heading">
        
        <table style="width:100%">
			<tr>
				<td align="left" width="50%" valign="top">Bidder: <h1 th:text="${subscription.user.lastName}"></h1> </td>
				<td align="left" width="50%" valign="top">Account number: <h1 th:text="${subscription.user.accountnumber}"></h1> </td>
				

			</tr>
	</table>
	
	

        </div>
        
        
        <table style="width:70%">
			<tr>
				<td align="left" width="50%" valign="top"><h3 th:text="${product.description}" class="panel-body">Description</h3> </td>
				
				<td align="right" width="50%" valign="top"> <img th:src="@{'/getImg/{id}'(id=${product.id})}" width="200" height="200"/>  </td>

			</tr>
	</table>
        
        
        
        <div class="row panel-footer">
            <div th:inline="text" class="col-md-2">Total number of Items: [[${product.price}]] XAF</div>
            <div th:inline="text" class="col-md-9">Total amount spent: [[${product.quantity}]]</div>
            <a th:href="@{'/shoppingCart/addProduct/{id}'(id=${product.id})}" class="col-md-1"
               sec:authorize="isAuthenticated()" th:if="${product.quantity}>0">
                 <img th:src="@{/images/shoppingCart.jpg}"/> 
            </a>
        </div>
        <br></br>
    </div>
</div>

</body>
</html>